<% unless @product.tracks.empty? %>
  <h6 class="product-section-title"><%= Spree.t('tracks')%></h6>
  <table id="product-properties" class="table-display" data-hook>
    <tbody>
      <% @product.tracks.each_with_index do |track, index| %>
        <% css_class = cycle('even', 'odd', :name => "tracks") %>
        <tr class="<%= css_class %>">
          <td><%= index + 1 %></td>
          <td><strong><%= track.name %></strong></td>
        </tr>
      <% end %>
      <% reset_cycle('tracks') %>
    </tbody>
  </table>
<% end %>
